@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "关于本站";
}

<h2 class="page-title">关于本站</h2>
<div style="width:70%">
    <P>
        工欲善其事，必先利其器。在每天的开发工作中，经常需要用到一些能够加快效率的工具，比如一些格式化、加密等工具。        
    </P>
    <p>
        基本上用到的时候都会去百度，然后随便点一个进去，使用完就关掉，下次遇到的时候再重复相同的步骤。
    </p>
    <p>
        为了加快效率，我特意将一些常用的开发工具做了汇总，里面80%的工具都是自己编写，由于能力有限，界面和交互略显稚幼，很多酷炫的功能做不出来，就力求把简单的功能做的最简单最易用。
    </p>
    <p>
        现在自己每天都在使用这些工具进行开发，大大地提升效率和减少查询百度的时间。现公开出来，希望能够帮助到大家，也希望大家在用的过程中发现bug或小站没有的功能，能够及时给我<a href="/m/talk">留言反馈</a>。
    </p>
    <P>
        如果觉得小站不错，也可以<span class="btnHelp" style="color:#428bca;cursor:pointer;">赞助</span>我，给我不断完善的动力，感恩。
    </P>
    <p>
        技术交流QQ群：<b style="color:#f00;">618900902</b>
    </p>
</div>

