@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "关于本站";
}

<h2 class="page-title">关于本站</h2>
<div style="width:70%">
    <p class="main-para">
        上个星期，以前的一个同事问我有没有做条形码的网址，发她一个，她要求条码的背景必须要透明的，而在线的很多条码生成的图片都是白色背景。鉴于此，我就自己做了一个生成条码的winform程序发给她用，可她过一会反馈说她的电脑没有.net4.5 framework，我又把几十兆的.net4.5框架安装包给她，她安装后才勉强用上。
    </p><p class="main-para">
        后来我想了下，我自己可以做个网站，把这些开发中常用到的工具放到一个网站上，这样就方便别人，也能达到资源的共享。
        所以才有了这个站，前端用的Bootstrap最基本的Dashboard模板，我对外观没有要求，但使用起来一定要非常简洁易用。后端用的.net开发，数据库用的sqlite，用来记录日志和留言信息。
    </p><p class="main-para">
        我会尽可能将开发时常用的一些功能全部都集成到这个网站上，方便大家使用，也希望大家能给我提出富贵意见，因为白天我也要上班，下班还要做家务和带孩子，所以开发工作都放在夜里。
        如果大家觉得这个工具站好用的话，可以添加到收藏夹，也可以<a href="@Url.Action("help","m")">赞助我</a>，毕竟一个人坚持开发也不容易，还有服务器的一些开销，谢谢大家。
    </p>
    <p>
        技术交流QQ群：<b style="color:#f00;">618900902</b>
    </p>
    <p>
        广告合作及购买源码联系QQ：<b style="color:#f00;">353318834</b>&nbsp;&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=353318834&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:353318834:51" alt="点击交谈" title="点击交谈" /></a>
    </p>
</div>

