@{
    ViewBag.Title = "友情链接";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>友情链接<span class="help-tip">（友链交换：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=353318834&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:353318834:51" alt="点击交谈" title="点击交谈" /></a>）</span></h2>
<div class="friends-link">    
    <a href="https://www.bugdone.cn/" class="btn btn-default" target="_blank">Bug管理工具</a>   
    <a href="http://www.hubwiz.com/" class="btn btn-default" target="_blank">汇智网</a>  
    <a href="https://www.proginn.com/?f=ofmonkey" class="btn btn-default" target="_blank">程序员客栈</a> 
    <a href="http://www.csdn.net/" class="btn btn-default" target="_blank">CSDN</a>
     <a href="http://www.bootcss.com" class="btn btn-default" target="_blank">Bootstrap中文网</a>
    <a href="https://bigning.win/" class="btn btn-default" target="_blank">忽然</a>    
    <a href="http://www.e23.la/" class="btn btn-default" target="_blank"><img src="http://e23.la/about/img/xtb.png" border="0" width="101" height="18"></a> 
    <a href="http://tool.yunser.com/" class="btn btn-default" target="_blank">云设工具</a>    
</div>