@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "大小写转换，大写转小写，小写转大写";
    ViewBag.Keywords = "大小写转换，大写转小写，小写转大写";
    ViewBag.Description = "大小写转换，大写转小写，小写转大写";
}

<ul class="nav nav-tabs">
    <li><a href="/transfer/dbc">全角半角</a></li>
    <li class="active"><a href="/transfer/upper">大小写转换</a></li>
    <li><a href="/transfer/unix">Unix时间戳</a></li>
    <li><a href="/transfer/len">字符长度</a></li>
    <li><a href="/transfer/guid">GUID</a></li>
    <li><a href="/transfer/url">URL参数格式化</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active">
        <table class="compare-table">
            <tr>
                <td class="compare-first">
                    <textarea spellcheck="false" id="txtSourceUpper" class="form-control " rows="18">hello WORLD</textarea>
                </td>
                <td class="compare-second">
                    <p><button id="btnGetUpper" class="btn btn-primary">转大写 &gt;</button></p>
                    <p><button id="btnGetLower" class="btn btn-primary">转小写 &gt;</button></p>
                </td>
                <td class="compare-third">
                    <textarea spellcheck="false" id="txtDestUpper" class="form-control" rows="18"></textarea>
                </td>
            </tr>
        </table>
    </div>
    @Html.Partial("_ErrorTip")
</div>
@section Script{
    <script src="/assets/js/transfer/upper.js"></script>
}
