<table class="table table-hover table-bordered funs-table">
    <tr>
        <td style="width:100px;">数据查询</td>
        <td>
            <a href="/query/local">本机IP</a>
            <a href="/query/http">http模拟查询</a>
            <a href="/query/ip">IP归属地查询</a>
            <a href="/query/domain">域名归属地查询</a>
            <a href="/query/phone">手机归属地查询</a>
            <a href="/query/today">历史上的今天</a>
        </td>
    </tr>
    <tr>
        <td>前端工具</td>
        <td>
            <a href="/front/color">在线调色板</a>
            <a href="/front/hex">RGB转16进制</a>
            <a href="/front/rem">px转rem</a>
            <a href="/front/markdown">在线MarkDown编辑器</a>
        </td>
    </tr>
    <tr>
        <td>实体生成</td>
        <td>
            <a href="/entity/json">json生成实体</a>
            <a href="/entity/xml">xml生成实体</a>
            <a href="/entity/string">字符串生成实体</a>
        </td>
    </tr>
    <tr>
        <td>编码解码</td>
        <td>
            <a href="/encode/url">Url编码解码</a>
            <a href="/encode/html">Html编码解码</a>
            <a href="/encode/ascii">ASCII编码解码</a>
            <a href="/encode/utf8">Utf-8编码解码</a>
            <a href="/encode/unicode">Unicode编码解码</a>
        </td>
    </tr>
    <tr>
        <td>加密解密</td>
        <td>
            <a href="/encrypt/md5">MD5加密</a>
            <a href="/encrypt/base64">Base64加密解密</a>
            <a href="/encrypt/image64">图片转Base64</a>
            <a href="/encrypt/filemd5">文件转MD5</a>
        </td>
    </tr>
    <tr>
        <td>字符转换</td>
        <td>
            <a href="/transfer/dbc">全角半角转换</a>
            <a href="/transfer/upper">大小写转换</a>
            <a href="/transfer/unix">Unix时间戳</a>
            <a href="/transfer/len">计算字符长度</a>
            <a href="/transfer/guid">生成GUID</a>
            <a href="/transfer/url">URL参数格式化</a>
        </td>
    </tr>
    <tr>
        <td>单位换算</td>
        <td>
            <a href="/unit/binary">进制转换</a>
            <a href="/unit/time">时间转换</a>
        </td>
    </tr>
    <tr>
        <td>代码格式化</td>
        <td>
            <a href="/format/js">js压缩格式化</a>
            <a href="/format/html">html压缩格式化</a>
            <a href="/format/css">css压缩格式化</a>
            <a href="/format/json">json压缩格式化</a>
            <a href="/format/xml">xml压缩格式化</a>
            <a href="/format/sql">sql压缩格式化</a>
        </td>
    </tr>
    <tr>
        <td>正则表达式</td>
        <td>
            <a href="/regex/test">正则测试</a>
            <a href="/regex/docs">正则参考</a>
        </td>
    </tr>
    <tr>
        <td>二维码生成</td>
        <td>
            <a href="/ercode/create">二维码生成</a>
        </td>
    </tr>
    <tr>
        <td>条形码生成</td>
        <td>
            <a href="/barcode/create">条形码生成</a>
        </td>
    </tr>
    <tr>
        <td>常用参考表</td>
        <td>
            <a href="/docs/http">Http状态码</a>
            <a href="/docs/contenttype">Content-Type</a>
            <a href="/docs/html">Html转义符</a>            
            <a href="/docs/ascii">ASCII码表</a>
        </td>
    </tr>
</table>
