@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "开发者工具/Json格式化/编码/解码/二进制";
    ViewBag.Keywords = "本机IP查询 | Json格式化 | UrlEncode | HtmlEncode | Md5加密 | Base64 | Guid | 半角全角 | 时间戳 | 字符串长度 | Json转实体 | 二维码生成 | 条形码生成 | 二进制 | 编码 | 解码 | 编程工具 | 在线工具";
    ViewBag.Description = "本机IP查询、Json格式化、UrlEncode、HtmlEncode、Md5加密、Base64、Guid、半角全角、时间戳、字符串长度、Json转实体、二维码生成、条形码生成、二进制、编码、解码、编程工具、在线工具";
}

<ul class="nav nav-tabs" id="myTab">
    <li><a href="#list">功能导航</a></li>

</ul>
<div class="tab-content">
    <div class="tab-pane" id="list">
        @Html.Partial("_FunList")
    </div>
</div>




